{
  "presets": [
    [ "es2015", { "modules": false } ]
  ],
  "plugins": [ "transform-object-rest-spread" ],
  "env": {
    "commonjs": {
      "presets": [
        [ "es2015", { "modules": "commonjs" } ]
      ]
    },
    "test": {
      "presets": [
        [ "es2015", { "modules": "commonjs" } ]
      ]
    }
  }
}
